[Desktop Entry]
Type=Application
Name=Strop
Exec=strop %f
Icon=cc.pimenov.strop
MimeType=application/x-strop;
Categories=Office;WordProcessor;
StartupWMClass=cc.pimenov.strop
Terminal=false
